vaadin-side-nav-item[current] {
    background-color: var(--light-blue);
}

vaadin-side-nav-item::part(link) {
    color: white;
}

vaadin-side-nav-item > vaadin-icon {
    color: white;
}

.scroller {
    padding-top: 30px;
}

.side-nav-label {
    font-size: large;
    padding-top: 30px;
}