vaadin-grid::part(row) {
    --vaadin-grid-cell-background: white;
    /*border: 1px solid var(--very-light-grey);*/
    border-radius: 15px;
}

vaadin-grid::part(row):hover {
    --vaadin-grid-cell-background: #DDE8F7;
}

vaadin-grid::part(selected-row) {
    --vaadin-grid-cell-background: white;
}

vaadin-grid {
    max-width: 600px;
}
