vaadin-grid::part(row) {
    --vaadin-grid-cell-background: white;
    /*border: 1px solid var(--very-light-grey);*/
}

vaadin-grid::part(row):hover {
    --vaadin-grid-cell-background: var(--very-light-blue);
}

vaadin-grid::part(selected-row) {
    --vaadin-grid-cell-background: white;
}

vaadin-grid {
    max-width: 600px;
    border: 2px solid var(--very-light-grey);
    box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
}

/*vaadin-grid-cell-content {*/
/*    margin: 0 !important;*/
/*    padding: 4px !important;*/
/*}*/
