vaadin-side-nav-item[current] {
    background-color: var(--light-blue);
}

vaadin-side-nav-item::part(link) {
    color: white;
}

vaadin-side-nav-item > vaadin-icon {
    color: white;
}

.event-name {
    font-family: Arial, serif;
    font-size: x-large;
    color: white;
    margin: auto;
    padding-top: 20px;
}

.event-date {
    font-family: Arial, serif;
    font-size: medium;
    color: white;
    margin: auto;
    padding-bottom: 50px;
}