vaadin-app-layout::part(drawer) {
    background-color: #1A6CAC;
    /*background-color: #4e73df;*/
}

/*vaadin-side-nav-item {*/
/*    background-color: #1A6CAC;*/
/*}*/

vaadin-side-nav-item[current] {
    background-color: #4d8bbd;
}

/*vaadin-side-nav-item::part(link) {*/
/*    color: white;*/
/*}*/

vaadin-side-nav-item::part(link) {
    color: white;
}

vaadin-side-nav-item > vaadin-icon {
    color: white;
}

vaadin-app-layout::part(navbar) {
    font-family: Arial;
    color: dimgrey;
    background-color: #eeeeee;
}

.logo {
    padding-bottom: 100px;
}



