@import 'login.css';
@import 'grid.css';
@import 'logo.css';
@import 'sidenav.css';
@import 'applayout.css';
@import 'header.css';
@import 'footer.css';
@import 'event-info.css';
@import 'challenge.css';

:root {
    /*--blue: #1a69a8;*/
    --blue: #1f6bcf;
    --light-blue: #4d8bbd;
    --very-light-grey: #eeeeee;
    --dim-grey: dimgrey;
}

@media all and (max-width: 1100px) {
    .challenge-view.editing .challenge-grid,
    .event-view.editing .event-grid,
    .team-view.editing .team-grid,
    .user-view.editing .user-grid,
    .scoreboard-view.editing .scoreboard-grid
    {
        display: none;
    }
}

html {
    --vaadin-button-primary-background: var(--blue);
    --vaadin-button-text-color: var(--dim-grey);
}

/*.challenge-grid {*/
/*    max-width: 350px;*/
/*    min-width: 0;*/
/*}*/



