.challenge-icon {
    width: 20px;
    height: 20px;
    /*color: var(--dim-grey);*/
}

.challenge-grid::part(header-cell) {
    display: none;
}

.challenge-grid {
    margin-bottom: 20px;
}

.challenge-grid vaadin-grid-cell-content {
    margin: 0 !important;
    padding: 0 !important;
}

.challenge-grid .challenge-row {
    align-items: center;
    padding: 6px 6px 6px 4px;
}